* {
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family:'Kumbh Sans', sans-serif;
    background-color: #00B6C7;
    text-align: center;

}

img {
    border-radius: 50px;
}

.container {
    margin: 100px auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
    overflow: hidden;
    border-radius: 15px;
}

#maininfo {
    font-weight: 700;
}

#info {
    font-weight: 400;
}

#info p {
    float
    padding: 16px;
    background-color: white;
    margin: 0px;
}


